* {
    margin: 0;
    padding: 0;
    /* border: red solid 1px; */
    font-family: "Roboto";
}

#Section_one {
    background-color: #1F2937;
    padding: 20px 15% 20px 15%;  
}

.header {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    padding-top: 20px;
}

.logo {
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
}

.bulk {
    margin: 90px 0 90px 0;
    display: flex;
    box-sizing: border-box;
}

.bulk img {
    height: 162px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro button {
    padding: 5px 35px 5px 35px;
    color: #e5e7eb;
    font-weight: bold;
    width: 150px;
}

.toolBar {
    color: #e5e7eb;
    font-size: 18px;
}

.intro h1 {
    font-size: 48px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
}

.intro p {
    color: #E5E7EB;
    font-size: 24px;
}

#info_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_Section h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 35px;
}

.cards {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: #3882f6 4px solid;
    border-radius: 15px;
    width: 180px;
}

.card p {
    color: #E5E7EB;
    font-size: 24px;
}

#quote_Section {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

#quote_section p {
    font-style: italic;
    font-weight: lighter;
}

#quote_Section div {
    width: 860px;
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
}

#quote_Section h5 {
    margin-left: auto;
}

#action_Section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50 250 50 250;
    padding: 50 0 50 0;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 15px;
}

#action_Section h2 {
    font-size: 24px;
    color: #f9faf8;
}

#action_Section p {
    font-size: 18px;
    color: #E5E7EB;
}

#action_Section button {
    border: #E5E7EB 1px solid;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    font-size: 18px;
}